In [1]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [4]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(labels,my_list)

10    a
20    b
30    c
dtype: object

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(d,labels)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [18]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [19]:
a = pd.Series(my_list,labels)

In [22]:
len(a)

3

In [23]:
a

a    10
b    20
c    30
dtype: int64

In [24]:
x = np.arange(1,11)

In [25]:
len(x)

10

In [26]:
ser1 = pd.Series([1,2,3,4],index=['USA','Germany','USSR','Japan'])

In [27]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [28]:
ser2 = pd.Series([1,2,5,4], index = ['USA','Germany','Italy','Japan'])

In [29]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [31]:
ser1['USA']

1

In [33]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [ ]:
ser