<h1>Lists</h1>

In [1]:
my_list = [1,2,3,4]
my_s_list = ['a','b','c']

In [2]:
my_s_list.append('d')

In [3]:
my_s_list

['a', 'b', 'c', 'd']

In [4]:
my_s_list[2]

'c'

In [5]:
my_s_list[2:]

['c', 'd']

In [6]:
my_s_list[1:3]

['b', 'c']

In [7]:
my_s_list[0] = 'NEW'

In [8]:
my_s_list

['NEW', 'b', 'c', 'd']

In [9]:
nest_list = [1,2,[3,4]]

In [10]:
nest_list

[1, 2, [3, 4]]

In [11]:
nest_list[2][0]

3

In [12]:
nested = [1,2,3,[4,5,6,['Target']]]

In [13]:
nested[3][3][0]

'Target'

In [31]:
bicycles= ['trek','cannondale','redline','specilized']

In [32]:
bicycles.remove('trek')

In [34]:
bicycles

['cannondale', 'redline', 'specilized']

In [25]:
bicycles.pop(2)

'redline'

In [26]:
bicycles

['trek', 'cannondale', 'specilized']

In [14]:
print(bicycles[0].title())

Trek

In [15]:
bicycles.insert(0,'ducti')

In [16]:
print(bicycles)

['ducti', 'trek', 'cannondale', 'redline', 'specilized']

In [18]:
del bicycles[1]

In [19]:
print(bicycles)

['ducti', 'redline', 'specilized']

In [20]:
bicycles.pop()

'specilized'

In [21]:
last_owned = bicycles.pop()

In [22]:
print(f'The last motorcycle I owned was a {last_owned.title()}')

The last motorcycle I owned was a Redline

In [23]:
bicycles

['ducti']

In [8]:
message = f'My first bicylce was a {bicycles[0].title()}'

In [9]:
print(message)

My first bicylce was a Trek

In [36]:
motorcycles = ['honda','yamaha','suzuki','ducati']

In [38]:
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [39]:
too_expensive = 'ducati'

In [40]:
motorcycles.remove(too_expensive)
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [41]:
print(f"\nA {too_expensive.title()} is too expensive for me")

A Ducati is too expensive for me

In [42]:
cars = ['bmw','audi','toyota','subaru']

In [44]:
cars.sort()
cars

['audi', 'bmw', 'subaru', 'toyota']

In [46]:
cars.sort(reverse=True)

In [48]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [51]:
cars = ['bmw','audi','toyota','subaru']

In [52]:
print("Herer is the original list:")
print(cars)

Herer is the original list:
['bmw', 'audi', 'toyota', 'subaru']

In [54]:
print("\n Here is the sorted list:")
print(sorted(cars))

 Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

In [55]:
cars

['bmw', 'audi', 'toyota', 'subaru']

In [56]:
cars.reverse()

In [57]:
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

In [58]:
len(cars)

4

In [60]:
print(cars[3])

bmw

In [63]:
for car in cars:
    print(car)

subaru
toyota
audi
bmw

In [64]:
for car in cars:
    print(f'{car.title()}, this is a great car')

Subaru, this is a great car
Toyota, this is a great car
Audi, this is a great car
Bmw, this is a great car

In [68]:
for car in cars:
    print(f'{car.title()}, this is a great car')
    print(f"I can't wait to see your next car,{car.title()}.\n")
print("Thank you, everyone. That was a great car show")

Subaru, this is a great car
I can't wait to see your next car,Subaru.

Toyota, this is a great car
I can't wait to see your next car,Toyota.

Audi, this is a great car
I can't wait to see your next car,Audi.

Bmw, this is a great car
I can't wait to see your next car,Bmw.

Thank you, everyone. That was a great car show

In [70]:
cars = ['bmw','audi','toyota','subaru']

In [79]:
for car in cars:
    print(f"{car.title()}, that was agreat trick!")
    print(f"I can't wait to see your next car, {car.title()}.\n")

Bmw, that was agreat trick!
I can't wait to see your next car, Bmw.

Audi, that was agreat trick!
I can't wait to see your next car, Audi.

Toyota, that was agreat trick!
I can't wait to see your next car, Toyota.

Subaru, that was agreat trick!
I can't wait to see your next car, Subaru.

In [39]:
dict = {'Name':'Jonus','Street':'New Street','House No':'2323'}

In [40]:
def getkey(dicts):
    return list(dict)

getkey(dicts)

['Name', 'Street', 'House No']

In [41]:
dicts = {'k1':'Abdullah','k2':'Al','k3':'Maruf'}

In [42]:
temp = []
dictlist = []
for key,value in dicts.items():
    temp = [key,value]
    dictlist.append(temp)

In [43]:
dictlist

[['k1', 'Abdullah'], ['k2', 'Al'], ['k3', 'Maruf']]

In [1]:
digits = [1,2,3,4,5,6,7,8,9,10]

In [2]:
min(digits)

1

In [3]:
max(digits)

10

In [4]:
sum(digits)

55