In [3]:
name = "Akahs"
age = 23

In [4]:
print("My name is {} and my age in {}".format(name,age))

My name is Akahs and my age in 23

In [5]:
print("My name is {} and my age is {}".format(name,age))

My name is Akahs and my age is 23

In [6]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [7]:
{1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
i = 1
while i<5:
    print("i is: {}".format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [27]:
x= [1,2,3,4]

In [28]:
out = []
for num in x:
    out.append(num**2)

In [29]:
print(out)

[1, 4, 9, 16]

In [30]:
[num ** 2 for num in x]

[1, 4, 9, 16]

In [33]:
out = [num ** 2 for num in x]

In [34]:
out

[1, 4, 9, 16]

In [44]:
def my_func(param1 = "Akash"):
    print("Hello "+param1)

In [46]:
my_func("Maruf")

Hello Maruf

In [47]:
my_func

In [51]:
def square(num):
    """This is a DocSTRing"""
    return num**2

In [52]:
output = square(2)

In [53]:
output

4

In [58]:
def times2(var):
    return var*2

In [59]:
times2(5)

10

In [60]:
seq = [1,2,3,4,5]

In [62]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [63]:
def times2(var):return var*2

In [65]:
times2(5)

10

In [10]:
t= lambda var:var*2

In [11]:
t(5)

10

In [69]:
seq = [1,2,3,4,5]
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [12]:
word_list = 'Hello World'
later_list= []
for a_word in word_list:
    for a_later in a_word:
        later_list.append(a_later)
print(later_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [70]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [3]:
my=[1,2,4,5,6]
my[2:5]

[4, 5, 6]

In [1]:
dict = {'k1':'Abdullah','k2':'Al','k3':'Maruf'}

In [2]:
temp = []
dictlist = []
for key,value in dict.items():
    temp = [key,value]
    dictlist.append(temp)

In [3]:
dictlist

[['k1', 'Abdullah'], ['k2', 'Al'], ['k3', 'Maruf']]