<h1>Tuples</h1>

In [1]:
Tuple = (1,2,3,4)

In [2]:
Tuple[2]

3

In [3]:
a=(1,2,3)
b=a + (4,5,6)
b

(1, 2, 3, 4, 5, 6)

In [4]:
b[1]

2

In [5]:
c = b[1:]
c

(2, 3, 4, 5, 6)

In [6]:
name = 'Maruf'
age = 23
Country = 'Bangladesh'
Details = (name,age,Country)

In [7]:
Details

('Maruf', 23, 'Bangladesh')

In [2]:
dimensions = (200,50)
print('Original dimensions:')
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
50


<h1>Set</h1>

In [8]:
{1,2,3}

{1, 2, 3}

In [9]:
{1,2,3,1,2,3}

{1, 2, 3}

In [10]:
set([1,2,3,4,5,6,677,8,8,8])

{1, 2, 3, 4, 5, 6, 8, 677}

In [11]:
sets = {1,2,3,4,5,6}

In [12]:
sets.add(3)

In [13]:
sets.pop()

1

In [14]:
sets

{2, 3, 4, 5, 6}

In [15]:
sets.remove(3)

In [16]:
sets

{2, 4, 5, 6}

In [17]:
sets.remove(6)

In [18]:
sets

{2, 4, 5}

In [19]:
s =set([1,2,3])
list(s)[2]

3

In [20]:
sen = 'This is just a sample'.split()

In [21]:
def convert(list):
    return tuple(list)
convert(sen)

('This', 'is', 'just', 'a', 'sample')